@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$primary-color: #79a7f5;
$standart-color: #474747;
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
@media only screen and (max-width: 641px) {
  .container {
    max-width: 360px;
    margin: 0 0;
  }
}

.nav-wrapper {
  opacity: 0.7;
  .brand-logo {
    padding-top: 5px;
  }
  .nav-logo {
    padding: 5px;
    max-width: 200px;
    max-height: 50px;
  }
}
.bold {
  font-weight: bold;
}
.font-standart {
  color: $standart-color;
}
.font-highlight {
  text-decoration: none;
  line-height: 1;
  color: $primary-color;
}
.welcome-wrapper {
  padding: 200px 20px 100px 20px;
  @media only screen and (max-width: 768px) {
    padding: 50px 20px 100px 20px;
  }
  font-size: 32px;
  height: 100vh;
  p {
    margin: 0;
  }
  .bg {
    position: absolute;
    z-index: -1;
    top: 50px;
    right: -350px;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
.btn {
  border-radius: 10px;
  background-color: $primary-color !important;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
  &:active {
    background-color: darken($primary-color, 10%);
    transform: scale(0.97);
    transition: 0.2s;
  }
  &:focus {
    background-color: darken($primary-color, 15%);
  }
}
.participant {
  margin: 10px 0;
  font-size: 27px;
}
.arrowdown {
  cursor: pointer;
  width: 17px;
  height: auto;
  margin: 0 auto;
  margin-top: 15%;
}

.about-wrapper {
  margin-top: 50px;
  h4 {
    margin-top: -10px;
  }
  color: $standart-color;
  font-size: 1.5em;
  a {
    transition: 0.3s;
    color: orangered;
    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-pic {
  max-width: 230px;
  height: auto;
  margin-top: 20px;
  vertical-align: middle;
  border-radius: 2px;
  box-shadow: 2px 5px 10px 3px lighten($standart-color, 30%);
}
.info {
  padding-top: 10px;

  p {
    margin: 5px;
  }
}

.projects {
  font-size: 1.3em;
  .image {
    margin-top: 20px;
  }
  img {
    max-width: 550px;
    @media only screen and (max-width: 738px) {
      max-width: 300px;
    }
    border-radius: 5px;
    box-shadow: 3px 3px 15px 3px lighten($standart-color, 30%);
  }
}

.text {
  text-align: justify;
}
.discription {
  margin-top: 20px;
}
.options {
  margin-top: 10%;
  a {
    font-size: 0.8em;
  }
  svg {
    fill: white;
    margin: -0.2em 0.3em;
    width: 1em;
  }
}
.btn-git {
  background-color: #474747 !important;

  &:hover {
    background-color: darken(#474747, 5%);
  }
  &:active {
    background-color: darken(#474747, 10%);
  }
  &:focus {
    background-color: darken(#474747, 15%);
  }
}

.projects {
  .col {
    margin: 50px 0;
  }
}

.contacts {
  margin: 50px auto;
  ul {
    li {
      display: inline;
      margin: 0 1.5em;
      list-style: none;
    }
  }
  svg {
    width: 4em;
    height: 4em;
    fill: black;
    border: 3px solid $primary-color;
    padding: 0.7em 0.3em;

    border-radius: 50%;

    &:hover {
      fill: white;
      background-color: $primary-color;
    }
  }
}
.title {
  text-align: center;
}
.social-nets {
  margin-top: 50px;
}
